<html>
	<head>
		<title>Movie Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui padded segment">
			<div class="ui fixed inverted menu">
				<div class="container">
					<div class="header item">
						<i class="film icon"></i>
						Movie Blog Site
					</div>
					<a href="/" class="item">Home</a>
					<a href="/movies/new" class="item">New Post</a>
				</div>
			</div>
		</div>
		
		<% if(messages.info){ %>
			<div class="ui positive message">
				<div class="header">
					<%= messages.info %>
				</div>
			</div>
		<% } %>
		
		<% if(messages.error){ %>
			<div class="ui negative message">
				<div class="header">
					<%= messages.error %>
				</div>
			</div>
		<% } %>
		
		